{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>SalasDeChatGratis &#8211; Chat gratis en Español</title>
    <meta charset="UTF-8">
    <meta name="description" content="Chat gratis para conocer amigos en nuestro maravilloso chat. Chatea en nuestras salas, registra tu nick y tus canales de amistad donde podrás conocer gente gratis.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-TileImage" content="{% static 'images/favicon-1-270x270.png' %}">
    <link href="{% url 'home' %}" rel="canonical">
    <meta property="og:title" content="VicioChat &#8211; Chat Gratis en Español Con Videollamadas">
    <meta property="og:description" content="Chat gratis para conocer amigos en nuestro maravilloso chat. Chatea en nuestras salas, registra tu nick y tus canales de amistad donde podrás conocer gente gratis.">
    <meta property="og:image" content="{% static 'images/og-image.png' %}">
    <meta property="og:url" content="{% url 'home' %}">
    <meta name="twitter:title" content="VicioChat &#8211; Chat Gratis en Español">
    <meta name="twitter:description" content="Chat gratis para conocer amigos en nuestro maravilloso chat. Chatea en nuestras salas, registra tu nick y tus canales de amistad donde podrás conocer gente gratis.">
    <meta name="twitter:url" content="{% static 'images/twitter-image.png' %}">
    <meta name="twitter:card" content="summary">
    <link rel="icon" href="{% static 'images/favicon-1-32x32.png' %}" sizes="32x32">
    <link rel="icon" href="{% static 'images/favicon-1-192x192.png' %}" sizes="192x192">
    <link rel="apple-touch-icon" href="{% static 'images/favicon-1-180x180.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
    
    
</head>
<body>
    <div class="site" id="page">
        {% include 'main/navbar.html' %}
        
            {% block content %}
            <!-- Page specific content will go here -->
            {% endblock %}
        
        {% include 'main/footer.html' %}
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>

