{% block footer %}
<div class="container-fluid" style="background:#F3F3F3;">
    <div class="container py-4">
        <div class="row mt-4">
            <div class="col-12">
                <div>
                    <p><b>SalasDeChatGratis</b> es tu comunidad de chat en español completamente gratis, formada por usuarios de toda España, México, Argentina, Chile y toda Latinoamérica que buscan nuevos amigos.</p>
                    <p><b>Chatea</b>, conoce gente, liga y haz nuevos amigos y muchos de los servicios que te ofrecemos (registrar un apodo, crear tu propia sala de chat, etc.) son completamente gratuitos.</p>
                    <p>Nuestro <b>webchat</b> en constante evolución le permitirá chatear libremente sin registrarse de una manera sencilla y clara. Con solo registrarte, puedes cargar tus fotos y videos favoritos y crear una página completamente personalizada sobre ti y tu comunidad.</p>
                    <p>En definitiva, <b>SalasDeChatGratis</b> te ofrece un <b>chat gratis</b> para ti y tus amigos, para que puedas chatear fácilmente desde nuestra web o llevar este chat a tu chat. Los amigos para chatear online son los que más se han desarrollado en los últimos años. con el mejor ambiente y la mejor gente.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper" id="wrapper-footer-full">
    <div class="container" id="footer-full-content" tabindex="-1">
        <div class="row">
            <div class="col-sm-3 d-lg-block d-sm-block d-none">
                <h5>Top canales</h5>
                <ul class="fa-ul">
                    <li><span class="fa-li"><i class="fab fa-slack-hash"></i></span><a href="chat/espana/index.html">España</a></li>
                    <li><span class="fa-li"><i class="fab fa-slack-hash"></i></span><a href="chat/argentina/index.html">Argentina</a></li>
                    <li><span class="fa-li"><i class="fab fa-slack-hash"></i></span><a href="chat/mexico/index.html">Mexico DF</a></li>
                    <li><span class="fa-li"><i class="fab fa-slack-hash"></i></span><a href="chat/amistad/index.html">Amistad</a></li>
                    <li><span class="fa-li"><i class="fab fa-slack-hash"></i></span><a href="chat/ligar/index.html">Ligar</a></li>
                    <li><span class="fa-li"><i class="fab fa-slack-hash"></i></span><a href="chat/colombia/index.html">Colombia</a></li>
                </ul>
            </div>
            <div class="col-sm-3 d-lg-block d-sm-block d-none">
                <h5>Últimos canales</h5>
                <ul class="fa-ul">
                    <li><span class="fa-li"><i class="fab fa-slack-hash"></i></span><a href="chat/alhaurin-de-la-torre/index.html" >Alhaurín de la Torre</a></li>
                    <li><span class="fa-li"><i class="fab fa-slack-hash"></i></span><a href="chat/mairena-del-aljarafe/index.html" >Mairena del Aljarafe</a></li>
                    <li><span class="fa-li"><i class="fab fa-slack-hash"></i></span><a href="chat/rincon-de-la-victoria/index.html" >Rincón de la Victoria</a></li>
                    <li><span class="fa-li"><i class="fab fa-slack-hash"></i></span><a href="chat/vilafranca-del-penedes/index.html" >Vilafranca del Penedès</a></li>
                    <li><span class="fa-li"><i class="fab fa-slack-hash"></i></span><a href="chat/sant-feliu-de-llobregat/index.html" >Sant Feliu de Llobregat</a></li>
                    <li><span class="fa-li"><i class="fab fa-slack-hash"></i></span><a href="chat/esplugues-de-llobregat/index.html" >Esplugues de Llobregat</a></li>
                </ul>
            </div>
            <div class="col-sm-3 d-lg-block d-sm-block d-none">
                <h5>Corporativo</h5>
                <ul class="fa-ul">
                    <li><span class="fa-li"><i class="fas fa-check"></i></span><a href="historia/index.html"> Historia</a></li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span><a href="equipo/index.html"> Equipo</a></li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span><a href="auth/register/index.html"> Registro</a></li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span><a href="crea-tu-chat/index.html"> Crea tu chat</a></li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span><a href="contacto/index.html"> Contacto</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Legal</h5>
                <ul class="fa-ul">
                    <li><span class="fa-li"><i class="fas fa-check"></i></span><a href="legal/aviso-legal/index.html"> Aviso legal</a></li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span><a href="legal/politica-de-privacidad/index.html"> Política de privacidad</a></li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span><a href="politica-de-cookies/index.html"> Política de cookies</a></li>
                </ul>
            </div>
            <div class="col-12 my-4 text-center">
                <div class="fa-stack"><a href="#" target="_blank" aria-label="lee esto en facebook"><i class="fas fa-circle fa-stack-2x"></i> <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i> </a></div>
                <div class="fa-stack"><a href="#" target="_blank" aria-label="lee esto en twitter"> <i class="fas fa-circle fa-stack-2x"></i> <i class="fab fa-twitter fa-stack-1x fa-inverse"></i> </a></div>
            </div>
            <div class="col-12 text-center">© 2021-2024 | SalasDeChatGratis Networks</div>
        </div>
    </div>
</div>
{% endblock %}
